TOKEN=

SERVER_ID=1234567890123456789

STEAM_CONNECT_URL=

DB_DRIVER=sqlite
# Currently only sqlite is supported (only fill DB_NAME)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=Database/database.db